<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instagram_Clone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/Instagram_Clone.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true">


</head>
<body>
    <nav style="font-family: 'Times New Roman', Times, serif; background: #000000; max-width: 355px;height:100vh; border-right:3px solid #262626; position:static;">
        <ul class="pt-5" style="overflow-y: auto; max-height: 100%; margin: 0;">
            <li style="list-style-type: none;" class="d-flex flex-column">
                <a style="color: #f5f5f5; text-decoration: none; font-size: 29px;margin-bottom:40px;">Instagram</a>

                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-home" style="margin-right: 10px;"></i>Home</a>
                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-search" style="margin-right: 10px;"></i>Search</a>
                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-compass" style="margin-right: 10px;"></i>Explore</a>
                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-play" style="margin-right: 10px;"></i>Reels</a>
                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-envelope" style="margin-right: 10px;"></i>Messages</a>
                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-bell" style="margin-right: 10px;"></i>Notifications</a>
                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-plus" style="margin-right: 10px;"></i>Create</a>
                <a style="color: #f5f5f5; text-decoration: none; margin-bottom: 25px; font-size: 20px; "><i class="fa fa-user" style="margin-right: 10px;"></i>Profile</a>






            </li>
        </ul>
    </nav>











    <div class="container mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
