@using Instagram_Clone.DTO
@{
    Layout = null;
}
@model CreateUserDTO
<!DOCTYPE html>
<html>
<head>
    <title> FitZone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true">

</head>
<body>
    <form asp-action="RegisterUser" asp-controller="Account" method="post" class="container mx-auto mt-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img src="~/Images/pixlr-image-generator-458a6518-485b-4637-8964-4b641e7637b3.png" asp-append-version="true" class="img-fluid mb-3" style="border-radius: 12px; object-fit: cover;">
            </div>
            <div class="col-lg-3">
                <div style="border: 1px solid #dbdbdb; padding: 15px; border-radius: 12px;">
                    <a style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 35px; color: #262626;">FitZone</a>
                    <br /><br />
                    <input asp-for="Username" required placeholder="Username" style="padding: 10px; width: 100%; max-width: 300px; border-radius: 8px; background: #fafafa; outline: none; border: 1px solid #dbdbdb;" class="mt-2" />

                    <input asp-for="Gmail" required placeholder="Email" style="padding: 10px; width: 100%; max-width: 300px; border-radius: 8px; background: #fafafa; outline: none; border: 1px solid #dbdbdb;" class="mt-2" />
                    <input asp-for="Password" required placeholder="Password" type="password" style="padding: 10px; width: 100%; max-width: 300px; border-radius: 8px; background: #fafafa; outline: none; border: 1px solid #dbdbdb;" class="mt-2" />
                    <button type="submit" class="btn btn-primary mt-3" style="width: 100%;">Sign Up</button>

                    <p class="mt-3" style="text-align:center;">OR</p>

                    <p style="color:#385185;font-weight:bold;">
                        <i class="fab fa-facebook"></i>
                        Log in with Facebook
                    </p>

                    <p style="color:#00376b; font-size:12px;">Forgot password?</p>
                </div>

                <div class="mt-3" style="border: 1px solid #dbdbdb; padding: 15px; border-radius: 12px;">
                    <p>Have an account? <a asp-action="LogInPage" asp-controller="Account" style="text-decoration:none; color:#0095f6">Sign In</a></p>
                </div>
            </div>
        </div>
    </form>










</body>
</html>