@using Instagram_Clone.Interface
@model FeedBack
@inject IAccountService _accountservice;
@{
    ViewBag.Title = "Fit Zone";
    var user = await _accountservice.GetLoggedInUserAsync();
}
<div class="card feedback-card mt-5" style="background-color: #1c1c1e; color: #ffffff;">
    <div class="card-body">
        <h2 class="card-title text-center mb-4">Leave Feedback</h2>
        <form id="feedback-form" asp-action="AddFeedBack" asp-controller="FeedBack" method="post">
            <div class="form-group mt-3">
                <label for="feedback-input">Your Feedback:</label>
                <textarea asp-for="UserFeedBack" class="form-control mt-2" id="feedback-input"  rows="4" placeholder="Write your feedback here..." style="background-color: #28282a; color: #ffffff;" required></textarea>
                <span asp-validation-for="UserFeedBack" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label for="name-input">Name:</label>
                <input type="text" asp-for="Name" class="form-control mt-2" id="name-input"  placeholder="Your Name (Optional)" style="background-color: #28282a; color: #ffffff;">
            </div>
            <div class="form-group mt-3">
                <label for="email-input">Email:</label>
                <input type="email" asp-for="Email" class="form-control mt-2" id="email-input"  placeholder="Your Email (Optional)" style="background-color: #28282a; color: #ffffff;">
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3" style="background-color: #32a852; border-color: #32a852;">Submit Feedback</button>
            @if (!user.IsVerified)
            {
                <p class="text-danger">Verify your account to unlock this feature</p>
            }
        </form>
    </div>
</div>