@using Instagram_Clone.Interface
@{
    ViewData["Title"] = "Home Page";
}
@inject IAccountService _accountservice;

    <style>
    .scrollable-container {
        overflow-x: auto;
        max-width: 500px;
    }
    </style>
<div class="scrollable-container">
    <div class="container d-flex mt-5" style="gap:15px; overflow-x: auto;">

        @foreach (var user in await _accountservice.GetUsers())
        {
            <div class="d-flex flex-column align-items-center mr-3">
                <img src="~/Images/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" alt="User Image" class="rounded-circle" style="width: 70px; height: 70px;">
                <p class="ml-2 mt-1 text-white">@user.UserName.Substring(0, Math.Min(6, @user.UserName.Length))...</p>
            </div>
        }

    </div>
</div>

