*{
    margin:0;
    box-sizing:border-box;
    
}

body {
    overflow: hidden;
}


nav {
    ul {
        li {
            a {
                cursor: pointer;
            }

            a:hover {
                color: gray;
                cursor: pointer;
            }
        }
    }
}


